<html data-ng-app> 
	<head>
		<title>Notes App</title> 
	</head>
	<body>
		<form novalidate name="myForm">
			<input type="text" class="username"
				name="uname" data-ng-model="ctrl.user.username" required="" 
				placeholder="Username" data-ng-minlength="4" />
			<input type="password" class="password"
				name="pwd" data-ng-model="ctrl.user.password" 
				placeholder="Password" required="" />
		
			<data-ng-form name="profile"> 
				<input type="text"
					name="firstName" data-ng-model="ctrl.user.profile.firstName" 
					placeholder="First Name" required>
				<input type="text" name="middleName"
	             	placeholder="Middle Name" data-ng-model="ctrl.user.profile.middleName"> 
	            <input type="text" name="lastName" 
	            	placeholder="Last Name" data-ng-model="ctrl.user.profile.lastName" required>
				<input type="date" name="dob" placeholder="Date Of Birth" data-ng-model="ctrl.user.profile.dob"> 
			</data-ng-form>
	
			<span ng-show="myForm.profile.$invalid"> Please fill out the profile information</span>
			<input type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/> 
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js">
		</script>
	</body>
</html>